body{
    margin: 0;
}
p{
    font-family: sans-serif;
    cursor: pointer;
}
p:hover{
    text-decoration: underline;
}
.main-div{
    display: flex;
    background-color: rgba(22, 22, 23, .8);
    color: rgb(187, 183, 183);   
    justify-content: center;  
}

.header-main{
    margin: 0;
    position: fixed;
    width: 100%;
    
}   
#discount-section{
    padding-top: 3rem;
}
.logo{
    width: 20px;
    padding-top: 5px;
  
}
.subdiv{
    display: flex;
}
.store-div{
    margin: 2px 23px;
    font-size: 12px;
    cursor: pointer;
}
.shopping-bag{
    font-size: 26px;
    margin: 0;
    
   
}
.new-arrivals{
    text-align: center;
    font-size: 15px;
    
}
.shop-iphone{
    color: blue;
    text-decoration: underline;
    padding-left: 3px;
    font-weight: 525;
}
.background-image{
   background-image: url(../image/apple-bg1.jpg);
   height: 600px;
   background-size: cover;
   display: flex;
   justify-content: center;
   
}
.learn-more{
    color: white;
    cursor: pointer;
}
.buy{
    color: white;
}
.contents{
    display: flex;
    margin-top: 140px;

    font-size: 16px;
    margin-left: 12px;
}
.learn-more{
margin:0 30px;

}
.learn{
    color:#2997ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.learn:hover{
    text-decoration: underline;
}
.buy-text{
    color:#2997ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   
}
.buy-text:hover{
    cursor: pointer;
    text-decoration: underline;

}
h2{
    color:#2997ff; ;
}
.iphone-14div{
    background-image: url(../image/iphone14.jpg);
    height: 600px;
    background-size: cover;
    margin-top: 40px;
    display: flex;

}
.learn-more-iphone14{
    display: flex;
    justify-content: center;
}
.iphone14-content{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.description-iphone14{
    
    font-size: 27px;
}
.iphone-14-learnmore{
   margin-right: 40px;
   cursor: pointer;
}
.iphone-14-buy{
        cursor: pointer;
    }
.watches{
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
.apple-logo-watch{
    width: 50px;
    height: 50px;
    padding-top: 11px;

    
}
.magnifying{
    width: 40px;
    padding-top: 11px;
    margin-left: 0;
    
}
.iwatch-second{
    background-color: black;
    color: white;
    text-align: center;
}
.series{
    margin: 0%;
    color: red;
   

}
.healthy{
    margin-bottom: 0px;
}
.learnmore-buy-iwatch{
    display: flex;
    background-color: black;
    color: #2997ff;
    justify-content: center;
    
    
}
.learn-more-iwatch{
    padding-right: 60px;
    cursor: pointer;
}
.learn-more-iwatch:hover{
    text-decoration: underline;
}
.buy-iwatch:hover{
    text-decoration: underline;
}
.iwatch-image{
    display: flex;
    background-color: black;
    justify-content: center;
}
.imageof-iwatch{
    width: 500px;
    padding-top: 50px;
  
}
.ipad-mac{
    display: flex;
    justify-content: space-between;
}
.mac{
    background-color: black;
    color: white;
    text-align: center;
    width: 700px;
    margin: 10px;
    margin-bottom: 0px;
   
    
    
    
}
.ipad{
    text-align: center;
    width: 700px;
    height: 600px;
    margin:10px;
    margin-bottom: 0px;
   
    
}
.ipad-image{
    width: 500px;
    height: 500px;
    
}
.mac-image{
    width: 500px; 
    height: 500px;
}
.homepod-earpod{
    display: flex;
    justify-content: space-between;
}

.homepod{
    background-image: url(../image/homepod.jpg);
    height: 624px;
    width: 656px;
    background-size: cover;
    margin: 9px;
    
    
}
.earpod{
    background-image: url(../image/earpod.jpg);
    height: 624px;
    width: 656px;
    background-size: cover;
    margin: 9px;
}
.homepod-content{
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.earpod-content{
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.apple-fitness-apple-card{
    display: flex;
    justify-content: center;
}
.apple-fitness{
    background-image: url(../image/fitness.jpg);
    height: 624px;
    width: 656px;
    background-size: cover;
    margin: 9px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.apple-card{
    background-image: url(../image/applecard.jpg);
    height: 624px;
    width: 656px;
    background-size: cover;
    margin: 9px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    
    
}
.apple-info{
    background-color: #f5f5f7; 
    display: flex;
    justify-content: center;   
}
.footer-content{ 
    width: 900px;
    font-size: 12px;
    color: #6e6e73;
    display: inline-block;
    border-bottom: 1px solid #86868b;      
}
.all-apple-services{
    display: flex;
    background-color: #f5f5f7;
    justify-content: center;
}
.service-list1{
    font-size: 12px;
    margin: 19px;
    color: #6e6e73;
}
.botoom-content1{
    width: 900px;
    display: flex;
    background-color: #f5f5f7;
    font-size: 12px;
    color: #6e6e73;
    justify-content: center;
    
}
.bottom1{
    margin-left: 230px;
    width: 900px;
    border-bottom: 1px solid #86868b;

}
.bottom-content2{
    display: flex;
    justify-content: space-around;
    background-color:#f5f5f7;
    font-size: 12px;
}
.main-footer-content{
    
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;

}
.footer-p1{
    margin: 0;
    font-size: 12px;
    margin-right: 400px;
}
.footer-content1{
    color: #6e6e73;
    
}
.last-sub-div{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #6e6e73;
    border-top: 1px solid #86868b;
   
    
    
}
.last-footer{
    display: flex;
    background-color: #f5f5f7; 
    justify-content: center

}
.footer-last1{
    margin-right: 31px;
}
.footer-last2{
    padding-right: 200px;
}
.shop-and-learn{
    font-size: 15px;
}
.apple-wallet{
    font-size: 15px;

}
.account{
    font-size: 15px;
}
.entertainment{
    font-size: 15px;
}
.apple-store{
    font-size: 15px;
}
.for-business{
    font-size: 15px;
}
.for-education{
    font-size: 15px;
}
.for-healthcare{
    font-size: 15px;
}
.for-government{
    font-size: 15px;
}
.apple-values{
    font-size: 15px;
}
.about-apple{
    font-size: 15px;
}